

.footer{
    background-color: #e4e4e4;
    padding: 2rem;
    


    h4{
        font-size: 3rem;
        padding: 1rem 0;
        border-bottom: .5rem solid rgba(75, 192, 192, 1);
    }


    .derechos{
        text-align: center;
        font-size: 1.6rem;
        color: #666;
    }
    
}